import usePageData from '@/shared/hooks/use-page-data.hook';

const {{pascalCase name}}Page = () => {
  usePageData({ title: '{{pascalCase name}}' });

  return <div>{{pascalCase name}} Page</div>;
};

export default {{pascalCase name}}Page;